#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  cursor: auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.dark-primary-color    { background-color: #0288D1; }
.default-primary-color { background-color: #03A9F4; }
.light-primary-color   { background-color: #B3E5FC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background-color: #8BC34A; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
.accent-color-2        { background-color: #E91E63 }

#navbar {
  background-color: #0288D1;
  position: inherit;
}

.content-container {
  flex: 1;
  display: flex;
  height: 100%;
  color: #FFFFFF;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.control-panel-left {
  flex: 1;
  background-color: #03A9F4;
  overflow-y: auto;
}

.control-panel-left .control-panel-text {
  margin-top: 10px;
}

.center-container {
  flex: 2;
  -webkit-box-shadow: inset 0 0 12px black;
  -moz-box-shadow: inset 0 0 12px black;
  box-shadow: inset 0 0 12px black;
  position: relative;
}

.control-panel-right {
  flex: 1;
  background-color: #03A9F4;
  box-shadow: 0 0 0;
  overflow-y: auto;
}

.page-container {
  width: 50%;
  margin: 20px auto;
}

.control-panel-text {
  text-align: center;
  margin-top: 10px;
}

.editable-main-container {
  width: 100%;
  display: flex;
}

.editable-container {
  width: 100%;
}

.editable {
  text-align: center;
  background-color: inherit;
}

.transition-table {
  display: inline-table;
  margin-bottom: 10px;
}

.transition-table td {
  border: 1px solid white;
  padding: 5px;
  min-width: 21px; /* TODO put whitespace in instead? */
}

.transition-table tr :first-child, .transition-table thead {
  font-weight: bold;
}

.state {
  background-color: #8BC34A;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 20px;
  font-size: 20px;
  line-height: 40px;
  box-shadow: 1px 1px 10px black;
  position: absolute;
  cursor: default;
  z-index: 1;
}

.selected-state {
  background-color: #E91E63;
}

.draggable {
  cursor: move;
}

.clickable-icon {
  cursor: pointer;
}

#initial-state-checkbox label { /* TODO figure out a better way to change semantic styles */
  color: #fff;
}

#accept-state-checkbox label { /* TODO figure out a better way to change semantic styles */
  color: #fff;
}

.popup {
  position: absolute;
  background-color: #8BC34A;
  box-shadow: 1px 1px 10px black;
  width: 70%;
  left: 15%;
  transition: margin-top .2s;
  padding: 20px;
  z-index: 5;
}

.popup > :not(:last-child) {
  margin-bottom: 10px;
}

.popup-hidden {
  margin-top: -20%; /* TODO figure out a non-hacky way to hide the popup */
}

#arrows-svg {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none
}